In [3]:
import wellflow as wf

# Load example data
measurements = wf.read_plate_measurements("example_plate.xlsx")

design = wf.read_plate_design("example_design.xlsx")

# Merge
df = wf.merge_measurements_and_conditions(measurements, design)

# Process
df = wf.add_blank_value(df, window=2)
df = wf.add_smoothed_od(df, window=2)
df = wf.add_growth_rate(df, window=3)
df = wf.add_max_growth_rate(df)

df.head()

,time,temperature_c,well,od,time_hours,strain,od_blank,od_smooth,mu,mu_max,t_at_mu_max
0,0 days 00:00:00,37,A1,0.05,0.0,WT,0.000,0.0000,NaN,NaN,NaN
4,0 days 00:30:00,37,A1,0.06,0.5,WT,0.005,0.0025,4.605170,NaN,NaN
8,0 days 01:00:00,37,A1,0.10,1.0,WT,0.045,0.0250,3.637586,NaN,NaN
12,0 days 01:30:00,37,A1,0.20,1.5,WT,0.145,0.0950,2.282382,NaN,NaN
16,0 days 02:00:00,37,A1,0.40,2.0,WT,0.345,0.2450,1.894763,NaN,NaN